attrs==19.1.0
awscli==1.14.44
bleach==3.1.0
botocore==1.8.48
cdsw==1.0.0
certifi==2018.1.18
chardet==3.0.4
Click==7.0
colorama==0.3.7
command-not-found==0.3
cycler==0.10.0
Cython==0.25.2
decorator==4.4.0
defusedxml==0.6.0
dill==0.3.1.1
docutils==0.14
entrypoints==0.3
Flask==0.12.3
futures==2.1.4
idna==2.6
imageio==2.6.1
ipykernel==5.1.2
ipython==5.1.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.3
joblib==0.14.0
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
kudu-python==1.2.0
lime==0.1.1.36
MarkupSafe==1.1.1
matplotlib==2.0.0
mistune==0.8.4
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.4
notebook==6.0.0
numpy==1.16.2
pandas==0.20.1
pandas-datareader==0.2.1
pandocfilters==1.4.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.0
prometheus-client==0.7.1
prompt-toolkit==1.0.15
ptyprocess==0.6.0
py4j==0.10.7
pyasn1==0.4.2
Pygments==2.4.2
pygobject==3.26.1
pyparsing==2.4.2
pyrsistent==0.15.4
python-apt==1.6.4
python-dateutil==2.6.1
python-magic==0.4.16
pytz==2019.2
PyWavelets==1.1.0
PyYAML==5.1
pyzmq==18.1.0
qtconsole==4.5.3
requests==2.22.0
requests-file==1.4.3
roman==2.0.0
rsa==3.4.2
s3cmd==2.0.1
s3transfer==0.1.13
scikit-image==0.16.1
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.8
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.10.0
six==1.11.0
sklearn==0.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.5
widgetsnbextension==3.5.1
xlrd==1.2.0
